<!Doctype html>
<html lang="en">
<title>{% block title %}Base{% endblock %}</title>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block page %}{% endblock %}
    <div>
        {% block contents %}
        <p>
            <ul>
                 <li><a href='/' >Home</a></li>
                 <li><a href='/works/' >How it Works</a></li>
                 <li><a href='/cities/' >Our Cities</a></li>
                 <li><a href='/plans/' >Sign up</a></li>
            </ul>
        </p>
        {% endblock %}
        {% block incl %} Author - {% endblock %}
    </div>
</body>
</html>